#hamburger{
	display:none;
	line-height:0;
	font-size:4em;
	position:relative;
	color: var(--green1);
}
#hamburger:focus{
	box-shadow: none !important;
}
#hamburger:focus-visible{
	border: 2px dashed var(--grey2);
	margin: -2px;
}
@media screen and (max-width: 1000px){
	header{
		position:fixed;
		transition: 0.2s all;
		box-shadow: 0px 10px rgba(255, 255, 255, 0.4) !important;
		-webkit-box-shadow: 0px 10px rgba(255, 255, 255, 0.4) !important;
	}
	#menu-navigation-bar li{
		display: none;
	}
	header h1{
		display: flex;
		align-content: center;
		font-size: 2em !important;
		white-space: pre;
		position: relative;
	}
	header .nav-logo-container{
		width: 20% !important;
		justify-content: normal !important;
	}
	
	header .nav-logo-container .logo{
		padding:1px;
		left: 10px;
		position: relative;
	}
}
@media screen and (max-width: 1000px) {
	#hamburger-container {
		display: flex;
		position: absolute;
		margin-top: 22px;
		margin-bottom: 22px;
		right: 10px;
	}
	#hamburger{
		display: block;
		padding: 19px 7px 35px 9px;		
	}
	#menu-navigation-bar{
		display:inline-block;
	}
	.container-fluid{
		margin-top:100px;
	}
	.sub-menu{
		display:none!important;
	}
	.header-slideshow-container{
		margin: 0px 0 50px !important;
	}
	.header-slideshow-container h3{
		margin-bottom:0 !important;
	}
	.header-slideshow-container img {
		width: 100%;
		height: 13em;
	}
	.header-slideshow-container h3{
		font-size:2.2em;
		position:relative !important;
		vertical-align:top;
		margin-left:5%;
		margin-right:5%;
	}
	#read-more{
		display:none;
	}
	.prev-slide, .next-slide{
		display:none;
	}
	
	header .nav-logo-container{
		position: relative;
	}
	.nav-container{
		display: none !important;
	}
	.nav-header-container{
		width:100% !important;
	}
	header .nav-title-container a{
		align-self: center;
	}
	header .nav-title-container{
		width: 60%;
	}
}

@media screen and (min-width: 1000px){
	#sidenav{
		display: none;
	}
}

@media screen and (max-width: 1000px) and (min-width: 830px){
	.header-slideshow-container img{
		height: auto;
	}
}

.btn-primary {
	color: black;
	background-color: white;
	border-color: white;
}
.btn-primary:hover{
	color: black;
	background-color: white;
	border-color: white;
}
.btn-primary:focus{
	color: black;
	background-color: white;
	border-color: white;
	box-shadow: 0 0 0 0rem white;
}
.btn-primary:active{
	color: black;
	background-color: white;
	border-color: white;
}
#sidenav{
	position: fixed;
	width: 100%;
	top: 100px;
	z-index:1100;
	box-shadow: 0px 5px rgba(255, 255, 255, 0.4);
}

#mobile-nav-container {
	height: 100%;
	width: 100%;
	z-index: 1003;
	top: 0;
	background-color: #fff;
	overflow-x: hidden;
	max-height: none;
	text-transform:uppercase;
	display:table;
}
#mobile-nav-container a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 1.3em;
	color: var(--grey2);
	display: flex;
	transition: color 0.1s, font-size 0.1s;
	white-space: nowrap;
	position: relative;
}

#mobile-nav-container > a:hover > span, #mobile-nav-container > a:focus-visible > span{
	color: var(--grey4);
	filter: brightness(111%);
}
	
#mobile-nav-container > a > span::after{
	background: var(--grey4);
	content: '';
	height: 1.5px;
	display: block;
	transition: width 0.2s;
	position: absolute;
	bottom: 15%;
	width: 0;
}
#mobile-nav-container > a > span{
	position: relative;
	left: 10px;
}
#mobile-nav-container > a:focus-visible > span::after, #mobile-nav-container > a:hover > span::after{
	width: 100%;
}

#mobile-nav-container > a[aria-current="page"] > span::after{
	background: #fff;
}

#mobile-nav-container a[aria-current="page"]{
	background: var(--blue2);
}
#mobile-nav-container a[aria-current="page"] > span{
	color: #fff !important;
}

.collapse {
  visibility: hidden;
}
.collapse.show {
  visibility: visible;
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
