#youtube-calculator-video-search .content {
    display: flex;
    align-items: center;
    margin: 0px;
    flex-wrap: nowrap;
    flex-direction: column;
}

#youtube-calculator-video-search .search-container {
    display: flex;
}

#youtube-calculator-video-search .search-bar {
    width: 625px;
    height: 45px;
    border: none;
    appearance: none;
    background-color: white;
    border-top-left-radius: 25px;
    margin-bottom: 20px;
    padding: 25px;
}

#youtube-calculator-video-search .search-button {
    width: 125px;
    height: 45px;
    border: none;
    appearance: none;
    background-color: var(--red4);
    border-top-right-radius: 25px;
}

#youtube-calculator-video-search .video-stats-container {
    width: 750px;
    border-left: 5px solid var(--red4);
    padding: 20px;
}

/* The slider itself */
#youtube-calculator-video-search .duration-video-watched {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 7.6px;
    border-radius: 3.75px; /* Specified height */
    background: var(--red4); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    /* transform: translateY(-12.5px); */
}

/* Mouse-over effects */
#youtube-calculator-video-search .duration-video-watched:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#youtube-calculator-video-search .duration-video-watched::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 5px; /* Set a specific slider handle width */
    height: 25px;
    border-radius: 2.5px; /* Slider handle height */
    background: var(--red4); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#youtube-calculator-video-search .add-to-calculations-button {
    border: none;
    appearance: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    background-color: var(--red4);
    margin-top: 30px;
    color: var(--grey1);
    /* transform: translateY(-12.5px); */
}

#youtube-calculator-video-search .field {
    margin-bottom: 15px;
}

#youtube-calculator-video-search .field-name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12.5px;
}

#youtube-calculator-video-search .resolutions {
    appearance: none;
    width: 100%;
    text-align: center;
    background-color: white;
    margin-top: 20px;
    color: var(--red4);
    border-radius: 17.5px;
    background-image: linear-gradient(var(--grey1), var(--grey1)),
        linear-gradient(-130deg, transparent 50%, var(--red4) 50%),
        linear-gradient(-230deg, transparent 50%, var(--red4) 50%),
        linear-gradient(var(--red4) 42%, var(--grey1) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom,
        right bottom;
    font-weight: 600;
    border: none;
    height: 35px;
}

#youtube-calculator-video-search .resolutions > div {
    padding-left: 5px;
    padding-right: 5px;
}

#youtube-calculator-video-search .resolutions button {
    width: 100%;
    height: 100%;
    border: none;
    appearance: none;
    background-color: var(--grey2);
    color: var(--grey4);
    border-radius: 10px;
    font-size: 12.5px;
    font-weight: 700;
}

#youtube-calculator-video-search .thumbnail-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
}

#youtube-calculator-video-search .charts-container {
    margin-top: 100px;
    padding-bottom: 100px;
}

#youtube-calculator-video-search .videos-selected-container {
    display: grid;
    margin-top: 200px;
    grid-template-columns: auto auto auto;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}

#youtube-calculator-video-search .video-selected {
    width: 250px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#youtube-calculator-video-search .video-selected-remove-wrapper {
    float: right;
}

#youtube-calculator-video-search .video-selected-remove {
    box-shadow: none;
    border: none;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: transparent;
    transform: translate(5px, -150px);
    margin: 0px;
    color: black;
    font-weight: 900;
    transition-duration: 300ms;
    font-size: 25px;
}

#youtube-calculator-video-search .video-selected-remove:hover {
    font-size: 27.5px;
}

#youtube-calculator-video-search .video-selected-image {
    width: 100%;
}

#youtube-calculator-video-search .video-selected-title {
    font-weight: bold;
    padding: 10px 7.5px 0px 7.5px;
}
