@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/* Archive Carousel */

.header-slide {
    background-color: black;
}

.header-slideshow-container {
    height: 600px;
}

#blogs-archive-slide-text {
    z-index: 99;
    position: relative;
    width: 70%;
    text-align: left;
    padding: 100px 0 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 60%;
    transform: translateY(-50%);
    margin: 0 100px;
}

#blogs-archive-slide-text h1 {
    font-size: 3rem;
    text-transform: capitalize;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: 500;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

#blogs-archive-slide-text p {
    font-size: 1.5rem;
    color: #fff;
    margin: 20px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-weight: 300;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* .archive-carousel-slide a h1 {
    font-weight: 700;
    margin: 0 0 25px 0;
    font-size: 3.5rem;
    width: 80%;
    color: #fff;
  }

  .archive-carousel-slide p {
    width: 50%;
    min-width: 300px;
    margin: 0 0 25px 0;
    font-size: 1.5rem;
  } */

.slideshow-dots-container {
    z-index: 999;
}

.readmore {
    color: #fff;
    z-index: 2;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    font-weight: 500;
}

.readmore:focus,
.blogs-archive-slide-header-link:focus h1 {
    border: 2px dashed var(--grey2);
}

.special-underline {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    position: relative;
}

.blogs-carousel-readmore-arrow-line {
    content: "";
    width: 40px;
    height: 6px;
    background-color: var(--grey1);
    margin-left: 10px;
}
/* .special-underline::after {
    content : "";
    position : absolute;
    width : 100%;
    height : 3px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform : scaleX(0);
    transition : transform 0.25s linear;
    transform-origin: bottom left;
  } */

.special-underline:hover::after {
    color: #fff;
    transform: scaleX(1);
    transform-origin: bottom left;
}

.blogs-carousel-readmore-arrow {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid var(--grey1);
    height: 0;
    width: 0;
    /* margin-left: 0; */
    /* transition: all 0.2s ease-in-out; */
}

/* .readmore:hover > .blogs-carousel-readmore-arrow{
    transform: translateX(25px);
    transition: all 0.2s ease-in-out;
  } */

.archive-carousel-prevbtn,
.archive-carousel-nextbtn {
    position: absolute;
    top: 43%;
    font-size: 2rem;
    padding: 16px;
    color: #fff;
    opacity: 0.5;
    z-index: 2;
    border-radius: 0 10px 10px 0;
}

.archive-carousel-prevbtn:hover,
.archive-carousel-nextbtn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.archive-carousel-prevbtn:hover,
.archive-carousel-nextbtn:hover {
    color: #fff;
    opacity: 1;
    cursor: pointer;
}

.archive-carousel-nextbtn {
    right: 0;
    border-radius: 10px 0 0 10px;
}

.archive-carousel-slide-indicators {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.archive-carousel-slide-indicator {
    margin: 10px 5px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    opacity: 0.5;
    background-color: #fff;
    justify-content: center;
    cursor: pointer;
}

.archive-carousel-slide-indicator:hover {
    opacity: 1 !important;
}

.archive-carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    top: 0;
    left: 0;
    min-width: 700px;
}

/* Hide Read More  */
@media (max-width: 1100px) {
    .archive-carousel-slide .readmore {
        display: none;
    }
}

/* Hide Excerpt  */
@media (max-width: 900px) {
    .archive-carousel-slide p {
        display: none;
    }
    .archive-carousel-slide {
        padding-left: 12%;
    }
}

@media (max-width: 900px) {
    .read-more-precious {
        font-size: 5.5vw;
    }
}
