/**************************************************/
/*************** Latest Newsletter  ***************/ 
/**************************************************/
#latest-newsletter-container {
    margin: 100px 0 0 0;
    position: relative;
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20vw;
}

#latest-newsletter-container:hover > .latest-newsletter-img {
    filter: brightness(70%);
    transition: filter 0.2s ease;
}

.latest-newsletter-img {
    position: absolute;
    z-index: -1;
    min-width: 1010px;
    filter: brightness(80%);
    transition: filter 0.2s ease;
    width: 100%;
}

.latest-newsletter-heading {
    color: var(--grey1);
    text-shadow: 1px 2px 2px rgb(0 0 0 / 50%);
}

.latest-newsletter-heading h3 {
    font-size: 1.5rem;
    text-align: center;
}

.latest-newsletter-heading h1 {
    font-size: 5.5vw;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.latest-newsletter-download {
    height: 50px;
    width: 15vw;
    min-width: 200px;
    margin: 30px 0 35px;
}

.latest-newsletter-download button {
    height: 100%;
    width: 100%;
    border: none;
    background-color: var(--yellow1);
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    letter-spacing: 1px;
    transition: all 0.2s ease;
    font-weight: 600;
}

.latest-newsletter-download:focus > button,
.latest-newsletter-download button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.latest-newsletter-content {
    color: var(--grey1);
    font-weight: 100;
    text-align: justify;
    font-size: 17px;
}



/********************************************/
/************ Subscription Form  ************/
/********************************************/
#subscription-form-container {
    background-color: var(--blue5);
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.subscription-form-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-form-text {
    color: var(--grey1);
    width: 30vw;
}

.subscription-form-text h1 {
    font-size: 3rem;
    font-weight: 600;
}

.subscription-form-text h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

.subscription-form-image {
    float: left;
    margin-left: 10vw;
    width: 20vw;
    padding-left: 10vw;
    position: relative;
}

.subscription-form-image img {
    width: 100%;
    height: 100%;
}

#subscription-form-container li {
    list-style: none;
    padding: 0;
}

.form-sidebar-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-sidebar-container form .newsletter-email-input {
    width: 40vw;
    min-width: 400px;
}

.form-sidebar-container form .newsletter-email-input:focus-within {
    border: 2px dashed var(--grey1);
}

.form-sidebar-container form .newsletter-email-input input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
}


.form-sidebar-container form .newsletter-subscribe-btn {
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-sidebar-container form .newsletter-subscribe-btn input {
    width: 80%;
    min-width: 200px;
    border: none;
    height: 50px;
    background-color: var(--yellow1);
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    text-transform: capitalize;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    letter-spacing: 2px;
    padding: 5px;
    transition: all 0.2s ease;
}

.form-sidebar-container form .newsletter-subscribe-btn input:focus,
.form-sidebar-container form .newsletter-subscribe-btn input:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.mailpoet_paragraph {
    margin-bottom: 0 !important;
}

/**************************************************/
/*************** Newsletter Stats *****************/
/**************************************************/
#newsletter-stats-container {
    height: fit-content;
    padding: 60px 0;
}

.stats {
    position: relative;
    padding: 100px 100px 50px;
}

.stats .col-md-4 {
    padding: 0 !important;
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    display: flex;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 80%;
    min-width: 250px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.2s ease;
    letter-spacing: 1px;
    margin:0 0 25px;
}

.stat:focus-within,
.stat:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.editions-stat {
    background-color: var(--yellow1);
}

.articles-stat {
    background-color: var(--blue5);
}

.words-stat {
    background-color: var(--blue6);
}

.stat h3 {
    font-size: 4rem;
}

.stat p {
    font-size: 2rem;
}


/****************************************************/
/**************** Newsletter Archive ****************/
/****************************************************/
#newsletter-archive-container {
    padding: 50px 100px 100px;
}

#newsletter-archive-container .row {
    justify-content: center;
    margin-top: 50px;
}

.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter {
    background-color: var(--grey1);
    border-radius: 10px;
    width: 30vw;
    margin-top: 75px;
    transition: all 0.2s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.newsletter:focus-within,
.newsletter:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 7px 7px 29px 7px;
    transition: all 0.2s ease;
}

.newsletter-tn {
    border-radius: 10px 10px 0 0;
    height: 250px;
    width:100%;
    overflow: hidden;
    position: relative;
}

.newsletter-tn img  {
    width: 100%;
}

.newsletter-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.download-newsletter-btn {
    border: none;

}

.newsletter-content a:focus img,
.download-newsletter-btn:hover > img {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.download-newsletter-btn img {
    height: 50px;
    transition: all 0.2s ease;

}

.newsletter-text {
    color: var(--blue6);
    margin-left: 20px;
}

.newsletter-content h4 {
    font-size: 26px;
}

.newsletter-text p {
    letter-spacing: 1px;
}


/*************************************************/
/********** Newsletter Authors Carousel **********/
/*************************************************/
#newsletter-authors-container {
    background-color: var(--grey1);
}

.authors-container {
    position: relative;
    padding: 0 100px;
    margin: 0 0 100px;
}

.authors-container button#prev-author,
.authors-container button#next-author {
    position: absolute;
    top: 45%;
    border: none;
    font-size: 35px;
    color: var(--grey3);
    transition: all 0.2s ease;
    background-color: none;
}

.authors-container button:focus,
.authors-container button:hover {
    transform: scale(1.3);
    transition: all 0.2s ease;
}

.authors-container button#next-author {
    right: 100px;
}

.authors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.author {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 20px;
    width: 20vw;
    overflow: hidden;
    transition: all 0.2s ease;
}

.author-permalink:focus > .author,
.author:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.author img {
    height: 300px;
    width: 100%;
}

.author-deets {
    padding: 10px 20px;
    letter-spacing: 1px;
}

.author-deets h3 {
    font-weight: 200;
    font-size: 28px;
    color: var(--grey6);
}

.author-deets p {
    color: var(--blue2);
    font-weight: 200;
    font-size: 18px;
}

.visible-authors {
    display: block;
    opacity: 1;
}

.hidden-authors {
    display: none;
    opacity: 0;
}




/*************************************************/
/****************** Media Queries ****************/
/*************************************************/
@media only screen and (max-width: 900px) {
    #latest-newsletter-container {
        padding: 50px 10vw;
    }
    .latest-newsletter-heading h3 {
        font-size: 1rem;
    }
    .latest-newsletter-heading h1 {
        font-size: 3rem;
    }
    .subscription-form-header {
        flex-direction: column;
    }
    .subscription-form-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .subscription-form-image {
        margin: 25px 0 0;
        padding: 0;
    }
    .form-sidebar-container form {
        flex-direction: column;
    }
    .form-sidebar-container form .newsletter-subscribe-btn {
        justify-content: center;
        margin-top: 25px;
    }
    #newsletter-archive-container {
        padding: 50px;
    }
    .newsletter {
        width: 50vw;
    }
    .author {
        width: 40vw;
    }
    .authors-container {
        padding: 0 50px;
    }
    .authors-container button#next-author {
        right: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .newsletter {
        width: 60vw;
    }
    .author {
        width: 50vw;
    }
}