:root {
    --grey1: #f0f0f0;
    --grey2: #ccc;
    --grey3: #999;
    --grey4: #666;
    --grey5: #333;
    --grey6: #282828;

    --blue1: #b6e2df;
    --blue2: #35b0ab;
    --blue3: #246b81;
    --blue4: #004c65;

    --green1: #515760;

    --red1: #f7b595;
    --red2: #f67280;
    --red3: #c06c84;
    --red4: #6f5980;
    --red5: #3d2451;

    --yellow1: #ffcc66;
}

.bar-chart {
    margin-left: 200px; /* Temporary */
    margin-top: 200px; /* Temporary */
}

.chart-x,
.chart-y,
.y-mark {
    background-color: black !important;
}

/* y-axis */
.chart-y {
    display: grid;
    grid-row-gap: 30px;
    width: 2px;
    height: 550px;
}

.y-mark {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;

    width: 10px;
    height: 1px;

    background-color: black;
}

.mark-label {
    transform: translateX(-30px);
}

/* x-axis */
.chart-x {
    display: grid;
    grid-template-columns: auto auto auto;

    height: 2px;
    width: 700px;
}

.x-label {
    transform: translate(30px, 20px);
    border-radius: 10px;
    width: 100px;
    height: 60px;
}

/* Bars */
.chart-bars {
    display: grid;
    grid-template-columns: auto auto auto;

    width: 700px;
}

.bars-bar {
    height: 50px;
    width: 100px;

    /* background-color: var(--red5); */ /* temporary */

    transform: translate(50px, -55px);
}

/* Hover Boxes */
.bars-bar .bar-hover-box {
    opacity: 0 !important;
    transition-duration: 0.3s !important;
    background-color: var(--grey1);
    background-clip: padding-box;

    width: 120px;

    border-radius: 10px;
    border-top: 5px solid var(--red4);
    padding: 15px 0px 15px 10px;
    font-size: 10px;

    transition-duration: 0.5s;
}

.border-top-blue {
    border-top: 5px solid var(--blue2) !important;
}

.border-top-pink {
    border-top: 5px solid var(--red2) !important;
}

.border-top-purple {
    border-top: 5px solid var(--red4) !important;
}

.bars-bar:hover .bar-hover-box {
    opacity: 100 !important;
}

.bg-red5 {
    background-color: var(--red5);
}

.bg-red4 {
    background-color: var(--red4);
}

.bg-red2 {
    background-color: var(--red2);
}

.bg-blue2 {
    background-color: var(--blue2);
}
