/* *,
*::before,
*::after {

} */

:root {
	--grey1: #f0f0f0;
	--grey2: #ccc;
	--grey3: #999;
	--grey4: #666;
	--grey5: #333;
	--grey6: #282828;

	--blue1: #b6e2df;
	--blue2: #35b0ab;
	--blue3: #246b81;
	--blue4: #004c65;

	--green1: #515760;
	--green2: #71b504;

	--red1: #f7b595;
	--red2: #f67280;
	--red3: #c06c84;
	--red4: #6f5980;
	--red5: #3d2451;

	--yellow1: #ffcc66;

	--silver: #c0c0c0;
	--bronze: #9f7a34;
	--gold: #d4af37;
}

html,
body {
	max-width: 100%;
	overflow-x: hidden;
}

:focus-visible {
	outline: none;
	border: none;
}

h1 {
	text-transform: uppercase;
}

h6 {
	margin: 0;
	font-weight: 700;
	font-size: 20px;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none !important;
}

p a {
	color: var(--grey4);
	font-weight: 500;
}

p a:hover {
	color: var(--grey5);
}

p a:focus {
	color: var(--grey5);
	border-bottom: 2px dashed var(--grey5);
}

#fact-cards, #instawall{
	background-color: var(--grey1);
}

/*

Specific General Theme CSS
--------------------------------------------------------------------------------
*/

.red1 {
	color: var(--red1);
}

.red2 {
	color: var(--red2);
}

.red3 {
	color: var(--red3);
}

.red4 {
	color: var(--red4);
}

.red5 {
	color: var(--red5);
}

.blue1 {
	color: var(--blue1);
}

.blue2 {
	color: var(--blue2);
}

.blue3 {
	color: var(--blue3);
}

.blue4 {
	color: var(--blue4);
}

.blue5 {
	color: var(--blue5);
}

.blue1 {
	color: var(--grey1);
}

.grey2 {
	color: var(--grey2);
}

.grey3 {
	color: var(--grey3);
}

.grey4 {
	color: var(--grey4);
}

.grey5 {
	color: var(--grey5);
}

.green1 {
	color: var(--green1);
}

.green2 {
	color: var(--green2);
}

.yellow1 {
	color: var(--yellow1);
}

.bronze {
	color: var(--bronze);
}

.silver {
	color: var(--silver)
}

.gold {
	color: var(--gold);
}

.text-justify {
	text-align: justify;
}

.lowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

img {
	-ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
}

/*

Layout General Theme CSS
--------------------------------------------------------------------------------
*/

.container-border-components {
	height: 645px;
	position: relative;
	overflow: hidden;
}

.container-border-components .border-components-row {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;

	height: 100%;
	width: 100%;
	top: 0;
}

.container-border-components .middle-row {
	display: flex;
	justify-content: space-around;
}

.container-border-components .edge-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

.container-border-components .full-row {
	width: 100%;
}

.container-border-components .full-row > img {
	width: 100%;
}

.container-border-components .edge-row .middle-col {
	min-width: 200px;
}

.container-border-components .middle-row .middle-col {
	min-width: 45%;
	max-width: 65%;
	min-height: 360px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	position: relative;
	text-align: center;
}

section:nth-child(odd) .heading-container {
	height: 200px;
}

section:nth-child(even) .heading-container {
	height: 300px;
}

.heading-container {
	text-align: center;
	font-weight: 700;

	position: relative;
}

.heading-container img {
	position: absolute;

	user-select: none;

	margin: auto;
	left: 0;
	right: 0;
	top: 63%;
	text-align: center;
}

.heading-overlay,
.heading-watermark {
	position: absolute;

	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.heading-watermark {
	text-transform: uppercase;
	user-select: none;
	color: var(--grey1);

	font-size: max(15vw, 125px);
}

.heading-overlay {
	text-transform: lowercase;
	font-size: 40px;

	z-index: 8;
}

section:nth-child(odd) .heading-overlay {
	color: var(--red4);
}

section:nth-child(even) .heading-overlay {
	color: var(--blue3);
}

header a,
.line-lmao {
	text-decoration: none;
}

header a::after,
.line-lmao::after {
	display: block;

	height: 1.5px;
	content: "";

	transition: width 0.2s;
	width: 0%;
}

header a:hover::after,
.line-lmao:hover::after {
	width: 100%;
}

.scale-1dot05 {
	transform: scale(1.05);
	transition: all 0.2s ease-in-out;
}

.rotate-8d {
	transform: rotate(8deg);
}

.reset-rotate {
	transform: rotate(0deg);
}


/*

Bootstrap Overrides
--------------------------------------------------------------------------------
*/

.container-fluid {
	padding: 0;
}

.row {
	margin-left: 0px !important;
	margin-right: 0px !important;

	position: relative;
}

#hamburger{
	display:none;
	line-height:0;
	font-size:4em;
	position:relative;
	color: var(--green1);
}
#hamburger{
	display:none;
	line-height:0;
	font-size:4em;
	position:relative;
	color: var(--green1);
}
#hamburger:focus{
	box-shadow: none !important;
}
#hamburger:focus-visible{
	border: 2px dashed var(--grey2);
	margin: -2px;
}
@media screen and (max-width: 1000px) {
	#hamburger-container {
			display: flex;
			position: absolute;
			margin-top: 22px;
			margin-bottom: 22px;
			right: 10px;
		}
	#hamburger{
		display: block;
		padding: 19px 7px 35px 9px;
		color: var(--green1);
		background-color: white;
		border-color: white;
	}
}
