#gameshow-banner {
    background-color: black;
    margin-top: 100px;
}

.gameshow-banner-container {
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameshow-banner-text {
    z-index: 99;
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.gameshow-banner-text h1 {
    font-size: 60px;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.gameshow-banner-text h3 {
    font-size: 2rem;
    color: #fff;    
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px 0 50px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

.gameshow-banner-text button {
    border: 2px solid #fff;
    background-color: #fff;
    color: var(--blue2);
    font-weight: 500;
    border-radius: 20px;
    font-size: 18px;
    width: 175px;
    height: 40px;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
}

.gameshow-banner-text button:hover {
    border: 2px solid var(--blue2);
    background-color: var(--blue2);
    color: #fff;
}

.gameshow-banner-container img {
    position: absolute;
    height: 100%;
    overflow: hidden;
    opacity: 0.7;
    top: 0;
    left: 0;
    min-height: 100%;
	width: 100%;
	object-fit: cover;
}

#about-gameshow {
    margin: 0;
    padding: 100px 0 0;
}

.trailer-embed-container{
    padding: 0 25px 0 100px;
    position: relative;
}

.about-gameshow-container {
    padding: 7vw 175px 0 25px; /* 7vw */
}

.about-gameshow-tv {
    width: 35vw;
    height: auto;
    position: absolute;
    right: 25px;
    z-index: 2;
}

iframe {
    width: 25vw;
    height: 16vw;
    position: absolute;
    right: 11vw;
    top: 8vw;
    z-index: 1;
    border-radius: 5px;
}

.about-gameshow-container h1 {
    font-size: 2rem;
    color: var(--blue2);
    font-weight: 600;
    margin-bottom: 15px;
}

.about-gameshow-container p{
    text-align: justify;
    color: var(--grey3);
    line-height: 32px;
}


/* Media Queries  */
@media (max-width: 765px) {
    #gameshow-about {
        padding-bottom: 0;
    }
    .trailer-embed-container {
        padding: 0;
    }
    .about-gameshow-container {
        padding: 75px 50px;
    }
    .about-gameshow-tv {
        width: 80vw;
        margin: 0 14vw;
        position: relative;
    }
    iframe {
        width: 55vw;
        right: auto;
        left: 13vw;
        height: 38vw;
        top: 17vw;
    }
  }
