/*

CFR About Us Page, About CFR Section
--------------------------------------------------------------------------------
*/

#about-cfr {
	font-size: 20px;
}
  
.about-cfr-container {
	margin-top: 100px;
	padding: 100px 50px;
}
  
.about-cfr-container h1 {
	font-size: 60px;
	text-transform: uppercase;
}
  
.about-cfr-container img {
	width: 100%;
}

@media (max-width: 770px) {
	.about-cfr-container img {
		margin-top: 50px;
	}

	.about-cfr-container p {
		text-align: justify;
	}
}