/*

CFR About Us Page, About CFR Section
--------------------------------------------------------------------------------
*/

#about-cfr {
	font-size: 20px;
}
  
.about-cfr-container {
	margin-top: 100px;
	padding: 75px 100px;
}
  
.about-cfr-container h1 {
	font-size: 50px;
	text-transform: uppercase;
}

.about-cfr-container p {
	font-size: 20px;
}
  
.about-cfr-image-container {
	display: flex;
	align-items: center;
	justify-content: right;
}

.about-cfr-image-container img {
	width: 80%;
}

@media (max-width: 770px) {
	.about-cfr-container img {
		margin-top: 50px;
	}

	.about-cfr-container p {
		text-align: justify;
	}
}

@media (max-width: 1000px){
	.about-cfr-container{
		padding: 30px;
	}
	.about-cfr-container h1{
		font-size: 40px;
	}
	.about-cfr-image-container{
		justify-content: center;
	}
}
