/*

CFR Meet the Team Section
--------------------------------------------------------------------------------
*/

#meet-the-team p {
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

#meet-the-team h6 {
	text-transform: lowercase;
	margin-bottom: 5px;
}

.small-row h6 {
	font-size: 15px;
}

.large-row p {
	color: var(--blue2);
}

.large-row h6 {
	color: var(--blue4);
}

.medium-row p {
	color: var(--red3);
}

.medium-row h6 {
	color: var(--red5);
}

.small-row p,
.small-row h6 {
	color: black;
}

#meet-the-team .col-md-4,
#meet-the-team .col-md-3,
#meet-the-team .col-md-2 {
	margin-bottom: 40px;
	transition: all 0.2s ease-out;
}

#meet-the-team .col-md-4:hover,
#meet-the-team .col-md-3:hover,
#meet-the-team .col-md-2:hover {
	transform: scale(1.03);
}

#meet-the-team .col-md-4:focus-within,
#meet-the-team .col-md-3:focus-within,
#meet-the-team .col-md-2:focus-within {
	transform: scale(1.03);
	outline: 2px dashed var(--grey2);
	outline-offset: 15px;
}

.large-row .dp-container {
	height: 300px;
}

.medium-row .dp-container {
	height: 200px;
}

.small-row .dp-container {
	height: 100px;
}

.large-row .title-container {
	height: 80px;
}

.medium-row .title-container {
	height: 80px;
}

.small-row .title-container {
	height: 60px;
}

.title-container {
	background-color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dp {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
