* {

}

:root {
    --grey1: #f0f0f0;
    --grey2: #ccc;
    --grey3: #999;
    --grey4: #666;
    --grey5: #333;
    --grey6: #282828;

    --blue4: #004C65;
    --blue3: #246B81;
    --blue2: #35B0AB;
    --blue1: #B6E2DF;

    --green1: #515760;
}

header {
  display: flex;

  background: #fff;

  width: 100%;
  height: 100px;

  text-transform: uppercase;
}

header h1 {
  font-size: 18px;
  font-weight: normal;

  color: var(--green1);

  margin: 0;
  padding: 0;

  transition: font-size 0.2s;
}

header a {
  text-decoration: none;
}

header .nav-logo-container .logo {
  max-width: 50px;
  height: auto;

  transition: max-width 0.2s;
}


header .nav-header-container {
  display: flex;

  width: 66%;
}

header .nav-header-container:hover .logo {
  max-width: 55px;
}

header .nav-header-container:hover h1 {
  font-size: 19px;
}

header .nav-logo-container {
  width: 120px;

  display: flex;
  justify-content: center;

  margin-top: auto;
  margin-bottom: auto;
}

header .nav-title-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .nav-title {
    width: 50%;
    height: 100%;
}

header .nav-container {
  display: flex;

  width: 50%;
}

header .menu-navigation-bar-container {
  width: 100%;
  height: 100%;
}

header .nav-bar {
  list-style-type: none;
  display: flex;

  justify-content: space-around;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

header .nav-bar li {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

header .nav-bar li a {
  color: var(--grey2);

  text-decoration: none;
  font-weight: normal;

  text-align: center;

  transition: color 0.1s, font-size 0.1s;
  transition-timing-function: ease-out;
}

header .nav-bar li:hover a {
  color: var(--grey4);
  font-size: 18px;
}

header .nav-bar .current-menu-item,
header .nav-bar .current-menu-ancestor {
  background-color: var(--blue2);
  height: 100%;

  filter: brightness(100%);

  transition: filter 0.1s;
  transition-timing-function: ease-out;
}

header .nav-bar li .sub-menu .current-menu-item:only-child {
  border-radius: 0.5rem;
}

header .nav-bar li .sub-menu .current-menu-item:first-child {
  border-radius: 0.5rem 0.5rem 0 0;
}

header .nav-bar li .sub-menu .current-menu-item:last-child {
  border-radius: 0 0 0.5rem 0.5rem;
}

header .nav-bar .current-menu-item:hover,
header .nav-bar .current-menu-ancestor:hover {
  background-color: var(--blue2);
  filter: brightness(110%);
}

header .nav-bar .current-menu-item:hover > a,
header .nav-bar .current-menu-ancestor:hover > a,
header .nav-bar li .sub-menu .current-menu-item:hover a {
  color: #fff;
}


header .nav-bar .current-menu-item > a,
header .nav-bar .current-menu-ancestor > a,
header .nav-bar li .sub-menu .current-menu-item a {
  color: #fff;
  font-weight: normal;
}

header .nav-bar li .sub-menu {
  display: none;
  z-index: 999;
  position: absolute;

  top: 90%;
  width: 200px;

  margin: 0;
  padding: 0;
  border-radius: 0.5rem;

  background: #fff;

  list-style-type: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

header .nav-bar li .sub-menu a {
  color: #808080;
  padding: 0.5rem;

  font-size: 13px;

  display: block;
  text-decoration: none;
}

header .nav-bar li .sub-menu a:hover {
  color: #000;
}


header .nav-bar .menu-item-has-children:hover .sub-menu {
  display: block;
}

.nav-bar-translucent-rectangle {
  width: 100%;
  height: 20px;

  background-color: var(--blue3);
}

.page-wrap {
  padding: 2rem 0; /* Padding between the navigation bar and the content */

}
