/* *,
*::before,
*::after {

} */

:root {
    --grey1: #f0f0f0;
    --grey2: #ccc;
    --grey3: #999;
    --grey4: #666;
    --grey5: #333;
    --grey6: #282828;

    --blue1: #B6E2DF;
    --blue2: #35B0AB;
    --blue3: #246B81;
    --blue4: #004C65;

    --green1: #515760;

    --red1: #F7B595;
    --red2: #F67280;
    --red3: #C06C84;
    --red4: #6F5980;
    --red5: #3D2451;

    --yellow1: #FFCC66;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

:focus-visible {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

section:nth-child(odd) {
  background-color: var(--grey1);
}

/*

The CFR Nv Located at the Top of the Screen
--------------------------------------------------------------------------------
*/

header {
  display: flex;

  background: #fff;

  width: 100%;
  height: 100px;

  text-transform: uppercase;
}

header h1 {
  font-size: 1.25em;
  font-weight: normal;

  color: var(--green1);

  margin: 0;
  padding: 5px;

  transition: font-size 0.2s;
}

header a {
  text-decoration: none;
}

header a::after {
  display: block;

  height: 1.5px;
  width: 0%;
  content: "";

  transition: width 0.2s;
}

header a:hover::after {
  width: 100%;
}

header .nav-logo-container .logo {
  max-width: 70px;
  height: auto;
  padding: 10px;

  transition: max-width 0.2s;
}

header .nav-header-container {
  display: flex;

  width: 66%;
}

header .nav-header-container a:focus-visible .logo {
  max-width: 75px;

  border: 2px dashed var(--grey2);
  background-color: var(--grey1);
}

header .nav-header-container a:hover .logo {
  max-width: 75px;
}

/* header .nav-header-container:hover h1{
  font-size: 19px;
} */

header .nav-header-container a:focus-visible h1{
  border: 2px dashed var(--grey2);
}

header .nav-logo-container {
  width: 120px;

  display: flex;
  justify-content: center;

  margin-top: auto;
  margin-bottom: auto;
}

header .nav-title-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .nav-title {
    width: 50%;
    height: 100%;
}

header .nav-container {
  display: flex;

  width: 50%;
  padding-right: 50px;
}

header .menu-navigation-bar-container {
  width: 100%;
  height: 100%;
}

header .nav-bar {
  list-style-type: none;
  display: flex;

  justify-content: space-around;

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;
}

header .nav-bar li {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

header .nav-bar li a {
  color: var(--grey2);

  text-decoration: none;
  font-weight: normal;
  text-align: center;
  font-size: 1.25rem;

  transition: color 0.1s, font-size 0.1s;
  transition-timing-function: ease-out;
}

header .nav-bar li:hover a,
header .nav-bar li:focus-within a {
  color: var(--grey4);
  font-size: 1.27rem;
}

header .nav-bar > li > a::after {
  background: var(--grey2);
}

header .nav-bar .current-menu-item > a::after,
header .nav-bar .current-menu-ancestor > a::after {
  background: #fff !important;
}

header .nav-bar > li:hover > a::after,
header .nav-bar > li > a:focus::after{
  width: 100%;
  background: var(--grey4);
}

header .nav-bar .current-menu-item,
header .nav-bar .current-menu-ancestor {
  background-color: var(--blue2);
  height: 100%;
  z-index: 10;

  filter: brightness(100%);

  transition: filter 0.1s;
  transition-timing-function: ease-out;
}

header .nav-bar li .sub-menu .current-menu-item:only-child {
  border-radius: 0.5rem;
}

header .nav-bar li .sub-menu .current-menu-item:first-child:not(:only-child) {
  border-radius: 0.5rem 0.5rem 0 0;
}

header .nav-bar li .sub-menu .current-menu-item:last-child:not(:only-child) {
  border-radius: 0 0 0.5rem 0.5rem;
}

header .nav-bar .current-menu-item:hover,
header .nav-bar .current-menu-ancestor:hover,
header .nav-bar .current-menu-item:focus-within,
header .nav-bar .current-menu-ancestor:focus-within {
  background-color: var(--blue2);
  filter: brightness(110%);
}

header .nav-bar .current-menu-item:hover > a,
header .nav-bar .current-menu-ancestor:hover > a,
header .nav-bar li .sub-menu .current-menu-item:hover a,
header .nav-bar .current-menu-item:focus-within > a,
header .nav-bar .current-menu-ancestor:focus-within > a,
header .nav-bar li .sub-menu .current-menu-item:focus-within a {
  color: #fff;
}


header .nav-bar .current-menu-item > a,
header .nav-bar .current-menu-ancestor > a,
header .nav-bar li .sub-menu .current-menu-item a {
  color: #fff;
  font-weight: normal;
}

header .nav-bar li .sub-menu {
  display: none;
  position: absolute;
  z-index: 10;

  top: 90%;
  width: 180px;

  margin: 0;
  padding: 0;
  border-radius: 0.5rem;

  background: #fff;

  list-style-type: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

header .nav-bar li .sub-menu a {
  color: var(--grey2);
  padding: 0.5rem;

  font-size: 13px;

  display: block;
  text-decoration: none;
}

header .nav-bar li .sub-menu a:hover,
header .nav-bar li .sub-menu a:focus-visible {
  color: #000;
}


header .nav-bar .menu-item-has-children:hover .sub-menu,
header .nav-bar .menu-item-has-children:focus-within .sub-menu {
  display: block;
}

.nav-bar-translucent-rectangle {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20px;

  background-color: rgba(255, 255, 255, 0.4);
}

.page-wrap {
  padding: 2rem 0; /* Padding between the navigation bar and the content */
}

/*

The CFR Banner Slideshow Located at the Top of the Screen
--------------------------------------------------------------------------------
*/

.header-slideshow-container {
  width: 100%;
  position: relative;
  justify-content: center;
}

.header-slideshow-container img {
  width: 100%;
}

.header-slideshow-container h3 {
  margin-bottom: 30px;

  text-transform: uppercase;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 2.5em;
  font-weight: 700;

  color: #fff;
}

.header-slideshow-container input {
  display: inline-block;

  background-color: #fff;
  color: var(--grey3);

  width: 150px;
  justify-content: center;
  padding: 5px 0;

  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);

  transition: color 0.2s, background-color 0.2s;
  transition-timing-function: ease-out;
}

.header-slideshow-container input:hover {
  color: var(--blue3);
}

.header-slideshow-container input:focus-visible {
  background-color: var(--blue2);
  outline: 2px dashed #fff;
  color: #fff !important;
}

.header-slideshow-container .header-slide {
  display: none;
}

.header-slideshow-container .header-slide > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 110px;
  text-align: center;
}

.header-slideshow-container .prev-slide,
.header-slideshow-container .next-slide {
  position: absolute;
  top: 50%;

  width: auto;
  margin-top: -22px;
  padding: 16px;

  cursor: pointer;
  user-select: none;

  color: white;
  border-radius: 0 10px 10px 0;

  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;

  transition: background-color 0.2s;
  transition-timing-function: ease-out;
}

.header-slideshow-container .next-slide {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.header-slideshow-container .prev-slide:hover,
.header-slideshow-container .next-slide:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header-slideshow-container .slideshow-dots-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
}

.header-slideshow-container .header-slideshow-dot {
  margin: 0 5px;
  display: inline-block;

  height: 1rem;
  width: 1rem;

  border: none;

  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;

  transition: background-color 0.1s, width 0.2s, height 0.2s;
  transition-timing-function: ease-out;
}

.header-slideshow-dot-active,
.header-slideshow-container .header-slideshow-dot:hover {
  background-color: #fff !important;
}

.header-slideshow-container .header-slideshow-dot:focus-visible {
  background-color: var(--blue2) !important;
  outline: 2px dashed #fff;

  height: 1.2rem;
  width: 1.2rem;
}

/* Fading animation */
.quick-fade {
  -webkit-animation-name: quick-fade;
  -webkit-animation-duration: 1.5s;
  animation-name: quick-fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes quick-fade {
  from {
    opacity: .7
  }
  to {
    opacity: 1
  }
}

@keyframes quick-fade {
  from {
    opacity: .7
  }
  to {
    opacity: 1
  }
}


/*

The CFR Home Page Aircraft Section Located below the Banner
--------------------------------------------------------------------------------
*/

.heading-container {
  text-align: center;
  font-weight: 700;

  position: relative;

  height: 300px;
}

.heading-container img {
  position: absolute;

  user-select: none;

  margin: auto;
  left: 0;
  right: 0;
  top: 63%;
  text-align: center;
}

.heading-overlay,
.heading-watermark {
  position: absolute;

  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.heading-watermark {
  text-transform: uppercase;
  user-select: none;
  color: var(--grey1);

  font-size: 200px;
}

.heading-overlay {
  text-transform: lowercase;
  font-size: 30px;

  z-index: 8;
}

section:nth-child(odd) .heading-overlay {
  color: var(--red4);
}

section:nth-child(even) .heading-overlay {
  color: var(--blue3);
}

.home-post form {
  justify-content: center;
}

.home-post input {
  background-color: var(--blue1);
  color: #fff;

  margin: auto;
  display: block;
  padding: 10px 40px;

  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

  text-transform: lowercase;

  transition: background-color 0.2s;
  transition-timing-function: ease-out;
}

.home-post input:hover,
.home-post input:focus-visible {
  background-color: var(--blue2);
}

.home-post input:focus-visible {
  outline: 2px dashed var(--blue4);
}

.home-post p {
  display: inline;
  line-height: 200%;

  color: var(--grey3);
}

.home-post a {
  text-transform: lowercase;

  padding: 8px;
  color: var(--blue2) !important;

  float: right;
}

.home-post img {
  pointer-events: none;
  user-select: none;
}

.home-post a::after {
  background: var(--blue2);
  margin-top: 0px;
  height: 1px;
}

.home-post .full-row {
  width: 90%;
  height: 130px;
  position: relative;

  margin-bottom: 70px;
}

.home-post .full-row div {
  width: 100%;
}

.home-post .full-row img {
  width: 120px;

  right: 0;
  bottom: 0;
  position: absolute;
}

.home-post .col-md-6 {
  text-align: justify;
  margin-bottom: 100px;

  position: relative;
}

.home-post .col-md-6 img {
  display: block;
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;

  height: 130%;
  max-height: 470px;

  transition: height 0.2s, max-height 0.2s;
}

.home-post .col-md-6 a div {
  position: absolute;

  height: 40%;
  max-height: 138px;
  width: 150px;

  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  z-index: 1;

  transform: translateX(22%);
}

.home-post .col-md-6 > div:hover + img,
.home-post .col-md-6 > div:focus-within + img {
  height: 140%;
  max-height: 490px;
}

.home-post .col-md-6 > div:focus-within + img {
  border: 2px dashed var(--grey2);
}

.home-post .col-para {
  padding-right: 17%;
}

.home-post .col-para a:focus-visible {
  border: 2px dashed var(--grey2);
}

.home-post .row .background-image img {
  position: absolute;

  z-index: -1;
  left: 10px;
  top: -130px;
  width: 80%;
}


/*

The CFR Home Page Cards Section Located below the Aircrafts Section
--------------------------------------------------------------------------------
*/

.cards-section-container {
  height: 750px;
  position: relative;
  overflow: hidden;
}

.cards-heading {
  font-size: 250%;
}

.cards-section-container .card-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;

  height: 100%;
  width: 100%;
  top: 0;
}

.cards-section-container .card-middle-row {
  display: flex;
  justify-content: space-around;
}

.cards-section-container .card-edge-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.cards-section-container .card-edge-row .card-middle-col {
  min-width: 200px;
}

.cards-section-container .card-middle-row .card-middle-col {
  min-width: 45%;
  min-height: 360px;
  position: relative;
  text-align: right;
}

.cards-section-container .cards-bg-border {
  width: 400px;
}

.cards-section-container .cards-bg-stationary {
  width: 150px;
}


.fact-card-display{
  width: 240px; /* 240px */
  padding: 20% 3% 5%;
  background-color: white;
  height: 100%;
  text-align: center;
  border-left: 1px solid #ccc;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
  border-radius: 30px;

  position: absolute;
  transition: all .2s ease-in-out;
  transform: translateX(0px);
  top: 10%;

  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;


}



.fact-card-display:hover {
  top: 0;
  transition: all .4s ease-in-out;
}

.fact-card-hidden{
  display: none;
}

.fact-card-open {
  margin-left: -155px;
}

.fact-card-fall { /* falls down to disappear */
  z-index: 4;
  transform: translate(0, 400px);
  transition: all .2s ease-in-out;
}

.fact-card-drop { /* falls down to appear */
  background-color: #000;
}

.card-suits {
  color: transparent;
  position: absolute;
  font-size: 50px;
  top: 10px;
  left: 10px;
  opacity: 0.8;
}

.card-suits-down {
  opacity: 0.8;
  color: transparent;
  position: absolute;
  font-size: 50px;
  bottom: 0;
  right: 10px;
  transform:scale(1, -1);
}

.card-bg-logo {
  width: 75px;
  height: auto;
  position: absolute;
  top: 30px;
  right: 30px;
}

.card-heading {
  text-shadow: 1px 1px #eee;
  font-weight: 700;
  font-size: 20px;
}

.card-content {
  font-size: 14px;
  color: #999;
  padding: 20px 0 0;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/*

The CFR FAQs Section Located above the Instagram Wall
--------------------------------------------------------------------------------
*/

.faq-container {
  width: 80%;
  z-index: 10s;

  margin: 0 auto;
  margin-bottom: 100px;
}

.faq-accordion-item {
  display: flex;
  align-items: center;

  background-color: var(--grey1);
  border-radius: 20px;

  margin-bottom: 40px;
}

.faq-accordion-checkbox {
  display: none;
}

.faq-accordion-link {
  color: var(--grey3);
  cursor: pointer;

  width: 100%;
  min-height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 40px;
  margin: 0;
  transition: all 0.2s ease;
}

.faq-accordion-link .plus-icon,
.faq-accordion-link .minus-icon {
  transition: all 0.2s ease;
}

.faq-accordion-link:hover {
  color: var(--grey6);
}

.faq-accordion-link:hover .plus-icon,
.faq-accordion-link:hover .minus-icon {
  filter: brightness(130%);
  transform: scale(130%);
}

.faq-accordion-link .minus-icon {
  display: none;
}

.faq-answer {
  overflow: hidden;
  max-height: 0;

  text-align: justify;

  position: relative;
  background-color: #fff;

  transition: max-height 0.5s ease;
}

.faq-accordion-checkbox:checked + label > .faq-answer {
  max-height: 300px !important;
}

.faq-accordion-checkbox:checked + label .faq-accordion-link {
  color: var(--blue2);
  font-weight: 600;
}

.faq-accordion-checkbox:checked + label .faq-accordion-link .minus-icon {
  display: block;
}

.faq-accordion-checkbox:checked + label .faq-accordion-link .plus-icon {
  display: none;
}

.faq-answer::before {
  content: "";
  background-color: var(--blue2);

  position: absolute;
  width: 5px;
  height: 90%;
  top: 50%;
  left: 0;

  transform: translateY(-50%);
}

.faq-answer p {
  color: var(--grey4);

  width: 90%;
  padding: 20px 40px;
  margin: 0;
}


/*

The CFR Social Media Insta Wall Located above the Footer
--------------------------------------------------------------------------------
*/
.instawall-section-container {
  position: relative;
}

.instawall-section-container .heading-container {
  height: 150px;
}

.instawall-section-container #sbi_images :focus {
  outline: 2px dashed var(--grey6) !important;
}

.instawall-section-container #sbi_load {
  margin-bottom: -100%;
  z-index: 10;
}

.instawall-section-container .sb_instagram_header {
  display: none;
}

.instawall-section-container .sbi_load_btn,
.instawall-section-container .sbi_follow_btn {
  z-index: inherit;
  transition: box-shadow 0.2s ease-out !important;
}

.instawall-section-container .sbi_load_btn:hover,
.instawall-section-container .sbi_load_btn:focus-visible {
  box-shadow: inset 0 0 20px 20px rgb(255, 255, 255, 5%) !important;
}

.instawall-section-container .sbi_follow_btn a:hover,
.instawall-section-container .sbi_follow_btn a:focus-visible {
  box-shadow: inset 0 0 20px 20px rgb(255, 255, 255, 20%) !important;
}

.instawall-section-container .sbi_load_btn:focus-visible,
.instawall-section-container .sbi_follow_btn a:focus-visible {
  outline: 2px dashed #fff !important;
}

.instawall-section-container .sbi_follow_btn a {
  background: var(--blue2) !important;
}

.instawall-section-container .sbi_follow_btn {
  position: relative;
}

.instawall-section-container img {
  width: 100%;
  height: 400px;
  position: absolute;

  bottom: -100px;
  pointer-events: none;

}

/*

The CFR Footer Located at the bottom
--------------------------------------------------------------------------------
*/

#footer-container {
  width: 100%;
}

.full-search-container {
  height: 300px;
  background-color: var(--grey6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.full-search-container form {
  height: 60px;
  width: 70%;
}

.full-search-container form input {
  height: 100%;
  width: 90%;

  padding-left: 20px;
  float: left;

  background-color: #fff;

  border-radius: 30px 0 0 30px;
  outline-offset: 10px;
  border: none;
}

.full-search-container form input::placeholder {
  color: var(--grey2);
  opacity: 1; /* Firefox */
}

.full-search-container form button {
  border-radius: 0 30px 30px 0;
  border: none;

  margin-left: -10px;
  outline-offset: 10px;
  float: left;

  height: 100%;
  width: 10%;

  background-color: var(--blue2);
  color: var(--blue3);

  transition: filter 0.2s ease-out;
}

.full-search-container form button img {
  transition: filter 0.2s ease-out;
}

.full-search-container form button:hover,
.full-search-container form button:focus-visible {
  filter: brightness(110%);
}

.full-search-container form button:hover img,
.full-search-container form button:focus-visible img {
  filter: invert();
}

.full-search-container form button:focus-visible {
  outline: 2px dashed #fff;
}

.full-search-container form button img {
  height: 50%;
}

.menu-footer-menu-container {
  background-color: var(--grey6);

  height: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;

  width: 100%;
  height: 100%;

  text-transform: capitalize;
  list-style-type: none;
}

.footer li {
    margin: 0 10px;
}

.footer li a {
  color: #fff;
  transition: color 0.2s ease-out;
  outline-offset: 5px;
}

.footer li:hover a {
  color: var(--blue1);
}

.footer li a:focus-visible {
  color: var(--blue1);
  outline: 2px dashed #fff;
}


#footer-social-bar {
  background-color: var(--blue3);
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-social-bar img {
  margin: 0 5px;
  width: 30px;

  transition: filter 0.2s ease-out;
}

#footer-social-bar a:hover img,
#footer-social-bar a:focus img {
  filter: invert();
}

#copyright-bar {
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--blue2);
  color: var(--blue4);
}

/*

Bootstrap Overrides
--------------------------------------------------------------------------------
*/

.container-fluid {
  padding: 0;
}

.row {
 margin-left: 0px !important;
 margin-right: 0px !important;

 position: relative;
}
