#comments {
    padding: 100px 20%;
    background-color: var(--grey1);
    list-style-type: none;
    position: relative;
}

#comments ul {
    list-style-type: none;
}

.comment-author img {
    border-radius: 100%;
    width: 75px;
    height: 75px;
    float: left;
    position: absolute;
    border: 2px solid var(--red4);
}

.comment-form-container {
    position: relative;
}

.comments-list {
    z-index: 2;
    position: relative;
}

#comments span {
    display: none;
}

#reply-title {
    text-align: center;
    font-size: 3rem;
    text-transform: lowercase;
    font-weight: 700;
    color: var(--red4);
    margin: 0 0 50px;
}

.comment {
    margin: 50px 0;
}

.comment-meta {
    display: flex;
}

.comment-metadata {
    display: flex;
    justify-content: center;
    cursor: default;
    text-transform: uppercase;
    margin: 0 25px;
}

.comment-metadata a {
    cursor: default;
    color: var(--grey2);
    font-size: 18px;
}

a.url {
    font-weight: 500;
    color: var(--grey6);
    text-transform: uppercase;
    cursor: default;
    margin-left: 110px;
    font-size: 18px;
}

.comment-content {
    margin:10px 0 10px 110px;
    font-size: 16px;
}

.reply a{
    margin-left: 110px;
    color: var(--red4);
    font-weight: 500;
    font-size: 18px;
}

.logged-in-as {
    display: none;
}

/* Comment From (with email) */
#commentform {
    display:inline-table;
    width: 100%;
    margin: 0 0 50px;
}

#commentform p {
    float: left;
}

#commentform .comment-notes{
    display: none;
}
.comment-form-comment label {
    display: none;
}
#commentform .comment-form-url {
    display: none;
}
.comment-form-author label {
    display: none;
}
.comment-form-email label {
    display: none;
}

.comment-form-comment {
    width: 100%;
}

#commentform textarea {
    background-color: var(--grey1);
    border: 3px solid var(--red4);
    padding: 10px;
    color: var(--red4);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    margin: 0 0 25px;
}

.comment-form-author {
    width: 50%;
}

.comment-form-author input {
    width: 95%;
    border: 2px solid var(--red4);
    background-color: var(--grey1);
    border-radius: 10px;
    margin-right: 5%;
    padding: 5px;
}

.comment-form-email {
    width: 50%;
}

.comment-form-email input {
    width: 95%;
    border: 2px solid var(--red4);
    background-color: var(--grey1);
    border-radius: 10px;
    margin-left: 5%;
    padding: 5px;
}

.comment-form-cookies-consent {
    width: 100%;
    margin: 10px 0 30px;
    color: var(--grey4);
}

.comment-form-cookies-consent input {
    background-color: var(--grey1);
}

.comment-form-cookies-consent input:checked {
    background-color: var(--grey1);
    color: var(--red4);
}

.form-submit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit {
    background-color: var(--grey1);
    color: var(--red4);
    border: 2px solid var(--red4);
    width: 50%;
    padding: 5px;
    border-radius: 10px;
}

#submit:hover {
    background-color: var(--red4);
    color: #fff;
}

/* reply */
#reply-title a {
    color: var(--red4);
    cursor: default;
}

#reply-title small a {
    cursor: pointer;
    font-size: 20px;
}

/* background graphics */
.open-close-envelope {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: auto;
    z-index: 0;
}

/* Media Queries */
@media (max-width: 820px) {
    .comment-metadata a {
        display: none;
    }

    #comments {
        padding: 100px 10%;
    }
}