/* Latest Blogs */

#blogs-archive-latest {
    padding: 100px;
  }
  
  .blogs-archive-post {
    padding-bottom: 100px;
    border-bottom: 3px solid var(--grey3);
  }
  
  .blogs-archive-permalink,
  .blogs-archive-permalink:hover {
    color: var(--grey5);
  }
  
  .blogs-archive-post-latest {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 50px;
  }
  
  .blogs-archive-post-latest-tn{
    width: 60%;
    height: auto;
    margin-left: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  }

  .blogs-archive-post-latest-tn:hover {
    transform: scale(1.02);
    transition: all 0.2s ease;


  }
  
  .blogs-archive-post-latest-excerpt {
    height: auto;
    width: 40%;
    min-width: 400px;
    background-color: var(--grey1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position:relative;
    left: -10%;
    padding: 10px 25px 10px 50px;
    line-height: 50px;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }

  .blogs-archive-post-latest-excerpt:hover {
    transform: scale(1.02);
    transition: all 0.2s ease;
  }
  
  .blogs-archive-post-latest-excerpt h3 {
    font-size: 2.5rem;
    font-weight:500;
    margin: 10px 0 20px;
  }
  
  .blogs-archive-post-latest-excerpt p {
    font-size: 150%;
    font-weight: 200;
  } 
  
  .blogs-archive-post-grid {
    padding-left: 5%;
    line-height: 50px;
    transition: all 0.2 ease-in-out;
  }

  .blogs-archive-post-grid:hover {
    transform: scale(1.02);
    transition: all 0.2 ease-in-out;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 10%);
    transition: all 0.2s ease;
  }
  
  .blogs-archive-post-grid img {
    width: 90%;
    height: 200px;
    margin-top: 40px;
    
  }
  
  .blogs-archive-post-text {
    width: 100%;
    padding-right: 5px;
    position: relative;
    word-wrap:break-word;
  }
  
  .blogs-archive-post-grid h3 {
    padding-top: 20px;
    color: var(--grey5);
    font-size: 24px;
    position: relative;
  }
  
  .blogs-archive-post-grid p {
    color: var(--blue2);
    font-size: 18px;
    font-weight: 500;
  }
  
  
  /* Blogs Archive Sidebar  */
  
  .blogs-archive-sidebar{
    position: relative;
    padding: 30px 0 50px;
    display: flex;
    
    z-index: 2;
  }
  
  .blogs-sidebar-socials-icons{
    width: fit-content;
    height: fit-content;
    border-right: 2px solid var(--grey3);
    display: grid;
  }
  
  .blogs-sidebar-socials-icon{
    width: 40px;
    margin: 0 40px;
    padding: 15px 0;
    filter: invert(30%);
  }

  .blogs-sidebar-socials-icon:hover {
    filter: invert(0);
  }
  
  .blogs-sidebar-blogs {
    width: 100%;
    min-width: 200px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
  }
  
  .blogs-sidebar-blogs-title{
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
  }
  
  .blogs-sidebar-blogs-blog {
    padding: 10px 10px 20px;
    flex-direction: column;
    justify-content: flex-end;
  }

  .blogs-sidebar-blogs-blog:hover {
    /* transform: scale(1.02); */
    transition: all 0.2 ease-in-out;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 5%);
  }
  
  .blogs-sidebar-blogs-blog h3 {
    font-weight: 500;
    color: var(--grey6);
    padding-bottom: 10px;
  }
  
  .blogs-sidebar-blogs-blog p {
    font-weight: 500;
    font-size: 22px;
  }

  .alm-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ajax-load-more-wrap.blue .alm-load-more-btn {
    border-radius: 30px;
    color: var(--blue2);
    border-color: var(--blue2);
    background-color: #fff;
    border-style: solid;
    padding: 5px 0;
    transition: background-color 0.2s ease;
    margin: 50px auto;
    width: 175px;
    height: 50px;
  }

  .ajax-load-more-wrap.blue .alm-load-more-btn:hover {
    color: #fff;
    border-color: var(--blue2);
    background-color: var(--blue2);
  }

  .ajax-load-more-wrap.blue .alm-load-more-btn:disabled {
    color: var(--grey1);
    border-color: var(--grey1);
  }

  .ajax-load-more-wrap.blue .alm-load-more-btn:disabled:hover {
    color: #fff;
    background-color: var(--grey1);
  }

/* Posts Grid */
@media (max-width: 610px) {
  #blogs-archive-latest {
    padding: 100px 50px;
  }
  .blogs-archive-post-latest-excerpt {
    left: -5%;
    align-items: center;
  }
}  

/* Sidebar  */
@media (max-width: 1010px) {
  .blogs-archive-sidebar {
    display: inline;
    justify-content: center;
    align-items: center;
  }
  .blogs-sidebar-socials-icons {
    display: flex;
    border-right: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid var(--grey3);
  }
  .blogs-sidebar-socials-icon {
    margin: 20px 40px 20px 0;
  }
  .blogs-sidebar-blogs {
    margin: 40px 0;
    padding: 0;
  }
  .blogs-sidebar-blogs-blog{
    padding: 50px 20px 0 10px;
  }
} 