/*

The CFR Home Page Cards Section Located below the Aircrafts Section
--------------------------------------------------------------------------------
*/

.magic-ball-container {
    width: 100px;
  }
  
  .cards-heading {
    margin-top: -10px;
  }
  
  .cards-bg-border {
    width: 400px;
  }
  
  .cards-bg-stationary {
    width: 150px;
  }
  
  .fact-card-display {
    width: 240px;
    background-color: white;
    height: 100%;
    border-left: 1px solid #ccc;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 10%);
    border-radius: 30px;
  
    position: absolute;
    transition: all 0.2s ease-in-out;
    transform: translateX(0px);
    top: 10%;
  
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 110px;
  
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }

  .cards-focusin-input {
    opacity: 0;
  }
  
  .magic-ball-container {
    width: 100px;
  }
  
  div#\38 -dis-card.fact-card-display {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  @media (max-width: 540px) {
    .magic-ball-container {
      display: none;
    }
  
    .cards-bg-discs {
      display: none;
    }
  
    #fact-cards .middle-col {
      width: 100%;
      max-width: none;
    }
  }
  
  @media (min-width: 768px) {
  
    .fact-card-display {
      display: flex;
    }
  
    div#\31 -dis-card {
      left: 0%;
    }
  
    div#\32 -dis-card {
      left: 13%;
    }
  
    div#\33 -dis-card {
      left: 26%;
    }
  
    div#\34 -dis-card {
      left: 39%;
    }
  
    div#\35 -dis-card {
      left: 52%;
    }
  
    div#\36 -dis-card {
      left: 65%;
    }
  
    div#\37 -dis-card {
      left: 78%;
    }
  
    div#\38 -dis-card.fact-card-display {
      left: 91%;
    }
  
    .fact-card-open {
      margin-left: -175px;
    }
  }
  
  @media (min-width: 992px) {
    .fact-card-open {
      margin-left: -170px;
    }
  }
  
  @media (min-width: 1200px) {
    .fact-card-open {
      margin-left: -155px;
    }
  }
  
  .fact-card-display:hover {
    top: 0;
    transition: all 0.4s ease-in-out;
  }
  
  .fact-card-hidden {
    display: none;
  }
  
  .fact-card-fall {
    /* falls down to disappear */
    z-index: 4;
    transform: translate(0, 400px);
    transition: all 0.2s ease-in-out;
  }
  
  .fact-card-drop {
    /* falls down to appear */
    background-color: #000;
  }
  
  .card-suits {
    color: transparent;
    position: absolute;
    font-size: 50px;
    top: 10px;
    left: 10px;
    opacity: 0.8;

    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
  }
  
  .card-suits-down {
    opacity: 0.8;
    color: transparent;
    position: absolute;
    font-size: 50px;
    bottom: 0;
    right: 10px;
    transform: scale(1, -1);

    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
  }
  
  .card-bg-logo {
    width: 75px;
    height: auto;
    position: absolute;
    top: 30px;
    right: 30px;

    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select:none;
  }
  
  .card-heading {
    text-shadow: 1px 1px #eee;
    font-weight: 700;
    font-size: 120%;
  }
  
  .card-content {
    font-size: 14px;
    color: #999;
    padding: 20px 20px 0;
    text-align: justify;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }